In [206]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# 1. 데이터 가져오기

In [207]:
park_train = pd.read_csv('parking/train.csv')
park_train.head()

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
0,C2483,900,아파트,경상북도,국민임대,39.72,134,38.0,A,15667000,103680,0.0,3.0,1425.0,1015.0
1,C2483,900,아파트,경상북도,국민임대,39.72,15,38.0,A,15667000,103680,0.0,3.0,1425.0,1015.0
2,C2483,900,아파트,경상북도,국민임대,51.93,385,38.0,A,27304000,184330,0.0,3.0,1425.0,1015.0
3,C2483,900,아파트,경상북도,국민임대,51.93,15,38.0,A,27304000,184330,0.0,3.0,1425.0,1015.0
4,C2483,900,아파트,경상북도,국민임대,51.93,41,38.0,A,27304000,184330,0.0,3.0,1425.0,1015.0

In [208]:
park_test = pd.read_csv('parking/test.csv')
park_test.head()

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수
0,C1072,754,아파트,경기도,국민임대,39.79,116,14.0,H,22830000,189840,0.0,2.0,683.0
1,C1072,754,아파트,경기도,국민임대,46.81,30,14.0,A,36048000,249930,0.0,2.0,683.0
2,C1072,754,아파트,경기도,국민임대,46.90,112,14.0,H,36048000,249930,0.0,2.0,683.0
3,C1072,754,아파트,경기도,국민임대,46.90,120,14.0,H,36048000,249930,0.0,2.0,683.0
4,C1072,754,아파트,경기도,국민임대,51.46,60,14.0,H,43497000,296780,0.0,2.0,683.0

In [209]:
age_gender_info = pd.read_csv('parking/age_gender_info.csv')
age_gender_info.head()

,지역,10대미만(여자),10대미만(남자),10대(여자),10대(남자),20대(여자),20대(남자),30대(여자),30대(남자),40대(여자),...,60대(여자),60대(남자),70대(여자),70대(남자),80대(여자),80대(남자),90대(여자),90대(남자),100대(여자),100대(남자)
0,경상북도,0.030158,0.033195,0.056346,0.061360,0.060096,0.067859,0.053433,0.049572,0.083660,...,0.082684,0.063889,0.047717,0.030172,0.029361,0.011211,0.005578,0.001553,0.000234,0.000014
1,경상남도,0.027400,0.026902,0.053257,0.055568,0.064920,0.070618,0.056414,0.057550,0.077092,...,0.087201,0.069562,0.048357,0.033277,0.027361,0.011295,0.004910,0.001086,0.000179,0.000010
2,대전광역시,0.028197,0.029092,0.040490,0.042793,0.060834,0.064247,0.068654,0.066848,0.074667,...,0.088468,0.070261,0.051010,0.037143,0.032455,0.013751,0.006494,0.001740,0.000298,0.000066
3,경기도,0.038030,0.039507,0.052546,0.053990,0.058484,0.059894,0.072331,0.068704,0.083208,...,0.074237,0.058419,0.042422,0.032725,0.025136,0.012354,0.005390,0.001707,0.000290,0.000067
4,전라북도,0.028089,0.029065,0.059685,0.060080,0.066262,0.070322,0.052027,0.046596,0.077005,...,0.076636,0.068042,0.051025,0.035748,0.035049,0.012641,0.007223,0.001898,0.000158,0.000013

In [210]:
sample_submission = pd.read_csv('parking/sample_submission.csv')
sample_submission.head()

    code  num
0  C1072    0
1  C1128    0
2  C1456    0
3  C1840    0
4  C1332    0

# 2. 훑어보기

In [211]:
print(park_train.shape),
print(park_test.shape),
print(age_gender_info.shape),
print(sample_submission.shape)

(2952, 15)
(1022, 14)
(16, 23)
(150, 2)

In [214]:
park_train.isnull().sum()
# train > 1임대보증금, 2임대료, 3지하철역 수, 4버스정류장 수 null

단지코드                              0
총세대수                              0
임대건물구분                            0
지역                                0
공급유형                              0
전용면적                              0
전용면적별세대수                          0
공가수                               0
자격유형                              0
임대보증금                           569
임대료                             569
도보 10분거리 내 지하철역 수(환승노선 수 반영)    211
도보 10분거리 내 버스정류장 수                4
단지내주차면수                           0
등록차량수                             0
dtype: int64

In [215]:
# 중복값 삭제
trains = park_train.drop_duplicates()
trains.isnull().sum()

단지코드                              0
총세대수                              0
임대건물구분                            0
지역                                0
공급유형                              0
전용면적                              0
전용면적별세대수                          0
공가수                               0
자격유형                              0
임대보증금                           292
임대료                             292
도보 10분거리 내 지하철역 수(환승노선 수 반영)    155
도보 10분거리 내 버스정류장 수                4
단지내주차면수                           0
등록차량수                             0
dtype: int64

In [216]:
park_test.isnull().sum()
# test > 1자격유형, 2임대보증금, 3임대료, 4지하철역 수 null

단지코드                              0
총세대수                              0
임대건물구분                            0
지역                                0
공급유형                              0
전용면적                              0
전용면적별세대수                          0
공가수                               0
자격유형                              2
임대보증금                           180
임대료                             180
도보 10분거리 내 지하철역 수(환승노선 수 반영)     42
도보 10분거리 내 버스정류장 수                0
단지내주차면수                           0
dtype: int64

In [217]:
# 중복값 삭제
tests = park_test.drop_duplicates()
tests.isnull().sum()

단지코드                              0
총세대수                              0
임대건물구분                            0
지역                                0
공급유형                              0
전용면적                              0
전용면적별세대수                          0
공가수                               0
자격유형                              2
임대보증금                           114
임대료                             114
도보 10분거리 내 지하철역 수(환승노선 수 반영)     34
도보 10분거리 내 버스정류장 수                0
단지내주차면수                           0
dtype: int64

In [218]:
age_gender_info.isnull().sum() # null값 없음

# 중복값 삭제
ages = age_gender_info.drop_duplicates()
ages.isnull().sum()

지역           0
10대미만(여자)    0
10대미만(남자)    0
10대(여자)      0
10대(남자)      0
20대(여자)      0
20대(남자)      0
30대(여자)      0
30대(남자)      0
40대(여자)      0
40대(남자)      0
50대(여자)      0
50대(남자)      0
60대(여자)      0
60대(남자)      0
70대(여자)      0
70대(남자)      0
80대(여자)      0
80대(남자)      0
90대(여자)      0
90대(남자)      0
100대(여자)     0
100대(남자)     0
dtype: int64

## 2.1 임대보증금, 임대료 데이터타입 변환

In [220]:
trains.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2632 entries, 0 to 2951
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   단지코드                          2632 non-null   object
 1   총세대수                          2632 non-null   int64
 2   임대건물구분                        2632 non-null   object
 3   지역                            2632 non-null   object
 4   공급유형                          2632 non-null   object
 5   전용면적                          2632 non-null   float64
 6   전용면적별세대수                      2632 non-null   int64
 7   공가수                           2632 non-null   float64
 8   자격유형                          2632 non-null   object
 9   임대보증금                         2340 non-null   object
 10  임대료                           2340 non-null   object
 11  도보 10분거리 내 지하철역 수(환승노선 수 반영)  2477 non-null   float64
 12  도보 10분거리 내 버스정류장 수            2628 non-null   float64
 13  단지내주차면수                       2632 non-null   float64
 14  등록차량수                         2632 non-null   float64
dtypes: float64(6), int64(2), object(7)
memory usage: 329.0+ KB

In [221]:
trains[trains['임대보증금']=='-'] = trains[trains['임대보증금']=='-'].replace('-',np.NAN)
tests[tests['임대보증금']=='-'] = tests[tests['임대보증금']=='-'].replace('-',np.NAN)

trains[trains['임대료']=='-'] = trains[trains['임대료']=='-'].replace('-',np.NAN)
tests[tests['임대료']=='-'] = tests[tests['임대료']=='-'].replace('-',np.NAN)

C:\Users\Playdata\AppData\Local\Temp\ipykernel_16200\3115601869.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trains[trains['임대보증금']=='-'] = trains[trains['임대보증금']=='-'].replace('-',np.NAN)
C:\Users\Playdata\AppData\Local\Temp\ipykernel_16200\3115601869.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tests[tests['임대보증금']=='-'] = tests[tests['임대보증금']=='-'].replace('-',np.NAN)
C:\Users\Playdata\AppData\Local\Temp\ipykernel_16200\3115601869.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trains[trains['임대료']=='-'] = trains[trains['임대료']=='-'].replace('-',np.NAN)
C:\Users\Playdata\AppData\Local\Temp\ipykernel_16200\3115601869.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tests[tests['임대료']=='-'] = tests[tests['임대료']=='-'].replace('-',np.NAN)

In [222]:
trains['임대보증금'] = trains['임대보증금'].astype(float)
tests['임대보증금'] = tests['임대보증금'].astype(float)

trains['임대료'] = trains['임대료'].astype(float)
tests['임대료'] = tests['임대료'].astype(float)

C:\Users\Playdata\AppData\Local\Temp\ipykernel_16200\2431519700.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trains['임대보증금'] = trains['임대보증금'].astype(float)
C:\Users\Playdata\AppData\Local\Temp\ipykernel_16200\2431519700.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tests['임대보증금'] = tests['임대보증금'].astype(float)
C:\Users\Playdata\AppData\Local\Temp\ipykernel_16200\2431519700.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trains['임대료'] = trains['임대료'].astype(float)
C:\Users\Playdata\AppData\Local\Temp\ipykernel_16200\2431519700.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tests['임대료'] = tests['임대료'].astype(float)

In [224]:
trains.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2632 entries, 0 to 2951
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   단지코드                          2632 non-null   object
 1   총세대수                          2632 non-null   int64
 2   임대건물구분                        2632 non-null   object
 3   지역                            2632 non-null   object
 4   공급유형                          2632 non-null   object
 5   전용면적                          2632 non-null   float64
 6   전용면적별세대수                      2632 non-null   int64
 7   공가수                           2632 non-null   float64
 8   자격유형                          2632 non-null   object
 9   임대보증금                         2328 non-null   float64
 10  임대료                           2319 non-null   float64
 11  도보 10분거리 내 지하철역 수(환승노선 수 반영)  2477 non-null   float64
 12  도보 10분거리 내 버스정류장 수            2628 non-null   float64
 13  단지내주차면수                       2632 non-null   float64
 14  등록차량수                         2632 non-null   float64
dtypes: float64(8), int64(2), object(5)
memory usage: 329.0+ KB

In [225]:
tests.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 949 entries, 0 to 1021
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   단지코드                          949 non-null    object
 1   총세대수                          949 non-null    int64
 2   임대건물구분                        949 non-null    object
 3   지역                            949 non-null    object
 4   공급유형                          949 non-null    object
 5   전용면적                          949 non-null    float64
 6   전용면적별세대수                      949 non-null    int64
 7   공가수                           949 non-null    float64
 8   자격유형                          947 non-null    object
 9   임대보증금                         829 non-null    float64
 10  임대료                           829 non-null    float64
 11  도보 10분거리 내 지하철역 수(환승노선 수 반영)  915 non-null    float64
 12  도보 10분거리 내 버스정류장 수            949 non-null    float64
 13  단지내주차면수                       949 non-null    float64
dtypes: float64(7), int64(2), object(5)
memory usage: 111.2+ KB

In [230]:
trains.describe()

,총세대수,전용면적,전용면적별세대수,공가수,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
count,2632.000000,2632.000000,2632.000000,2632.000000,2.328000e+03,2.319000e+03,2477.000000,2628.000000,2632.000000,2632.000000
mean,854.095365,46.091303,114.365881,13.316869,2.682653e+07,1.955080e+05,0.158256,3.686454,636.769377,600.843085
std,484.047918,32.559242,135.742354,10.631196,2.171244e+07,1.307436e+05,0.417684,2.684362,394.668932,431.630701
min,26.000000,12.620000,1.000000,0.000000,3.056000e+06,1.665000e+04,0.000000,0.000000,13.000000,13.000000
25%,504.000000,36.500000,26.000000,4.000000,1.441800e+07,1.105500e+05,0.000000,2.000000,334.750000,296.000000
50%,773.000000,46.405000,78.000000,13.000000,2.080100e+07,1.610200e+05,0.000000,3.000000,551.000000,520.000000
75%,1065.000000,51.850000,154.000000,20.000000,3.244300e+07,2.359800e+05,0.000000,4.000000,871.000000,795.000000
max,2568.000000,583.400000,1865.000000,55.000000,2.164230e+08,1.058030e+06,3.000000,20.000000,1798.000000,2550.000000

In [231]:
trains.corr()

,총세대수,전용면적,전용면적별세대수,공가수,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
총세대수,1.000000,0.067498,0.168208,0.103241,0.078243,0.100797,0.136527,0.037343,0.598347,0.423656
전용면적,0.067498,1.000000,-0.071887,-0.116087,0.492758,0.740162,0.001984,-0.005023,0.035756,0.081118
전용면적별세대수,0.168208,-0.071887,1.000000,0.151090,-0.098619,-0.056799,-0.027417,0.054962,0.231223,0.188906
공가수,0.103241,-0.116087,0.151090,1.000000,0.033016,-0.192713,-0.126953,0.051276,0.292526,0.095454
임대보증금,0.078243,0.492758,-0.098619,0.033016,1.000000,0.555310,0.026846,0.109401,0.272581,0.312140
임대료,0.100797,0.740162,-0.056799,-0.192713,0.555310,1.000000,0.073986,0.043192,0.278690,0.413738
도보 10분거리 내 지하철역 수(환승노선 수 반영),0.136527,0.001984,-0.027417,-0.126953,0.026846,0.073986,1.000000,0.112504,-0.039887,-0.077838
도보 10분거리 내 버스정류장 수,0.037343,-0.005023,0.054962,0.051276,0.109401,0.043192,0.112504,1.000000,0.095594,0.119280
단지내주차면수,0.598347,0.035756,0.231223,0.292526,0.272581,0.278690,-0.039887,0.095594,1.000000,0.851280
등록차량수,0.423656,0.081118,0.188906,0.095454,0.312140,0.413738,-0.077838,0.119280,0.851280,1.000000

In [233]:
trains_corr = trains.corr()
trains_corr['등록차량수'].sort_values(ascending=False) # 단지내주차면수, 총세대수, 임대료, 임대보증금의 영향력이 높음

등록차량수                           1.000000
단지내주차면수                         0.851280
총세대수                            0.423656
임대료                             0.413738
임대보증금                           0.312140
전용면적별세대수                        0.188906
도보 10분거리 내 버스정류장 수              0.119280
공가수                             0.095454
전용면적                            0.081118
도보 10분거리 내 지하철역 수(환승노선 수 반영)   -0.077838
Name: 등록차량수, dtype: float64

In [227]:
trains[trains['임대보증금'].isnull()]

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
88,C1925,601,상가,강원도,임대상가,32.10,1,9.0,D,NaN,NaN,0.0,4.0,117.0,75.0
91,C1925,601,상가,강원도,임대상가,72.16,1,9.0,D,NaN,NaN,0.0,4.0,117.0,75.0
101,C1874,619,상가,충청남도,임대상가,12.62,1,2.0,D,NaN,NaN,NaN,2.0,97.0,62.0
102,C1874,619,상가,충청남도,임대상가,17.40,1,2.0,D,NaN,NaN,NaN,2.0,97.0,62.0
104,C1874,619,상가,충청남도,임대상가,22.89,1,2.0,D,NaN,NaN,NaN,2.0,97.0,62.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2682,C1786,480,아파트,강원도,행복주택,26.90,72,25.0,K,NaN,NaN,0.0,3.0,338.0,345.0
2683,C1786,480,아파트,강원도,행복주택,26.90,24,25.0,K,NaN,NaN,0.0,3.0,338.0,345.0
2906,C2186,924,아파트,대구광역시,국민임대,29.17,238,0.0,H,NaN,NaN,0.0,8.0,664.0,744.0
2907,C2186,924,아파트,대구광역시,국민임대,29.34,38,0.0,H,NaN,NaN,0.0,8.0,664.0,744.0
2908,C2186,924,아파트,대구광역시,국민임대,37.43,220,0.0,H,NaN,NaN,0.0,8.0,664.0,744.0

In [239]:
print(park_train.shape),
print(park_test.shape),
print(age_gender_info.shape),
print(sample_submission.shape)
print('*****중복삭제후****')
print(trains.shape)
print(tests.shape)
print(ages.shape)

(2952, 15)
(1022, 14)
(16, 23)
(150, 2)
*****중복삭제후****
(2632, 15)
(949, 14)
(16, 23)

## 2.2 임대보증금, 임대료 null값 mean값으로 대체

In [240]:
trains[trains.임대보증금.notnull()].자격유형.value_counts()

A    1775
H     146
J     105
C      92
I      49
E      37
L      33
K      29
N      29
B      18
G       9
F       3
M       2
O       1
Name: 자격유형, dtype: int64

In [257]:
t_mean = trains['임대보증금'].mean()
t_mean = np.round(t_mean)

te_mean = tests['임대보증금'].mean()
te_mean = np.round(te_mean)

t_mean, te_mean

(26826528.0, 25015984.0)

In [258]:
trains['임대보증금'] = trains['임대보증금'].fillna(t_mean)
tests['임대보증금'] = tests['임대보증금'].fillna(te_mean)

C:\Users\Playdata\AppData\Local\Temp\ipykernel_16200\2506338630.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trains['임대보증금'] = trains['임대보증금'].fillna(t_mean)
C:\Users\Playdata\AppData\Local\Temp\ipykernel_16200\2506338630.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tests['임대보증금'] = tests['임대보증금'].fillna(te_mean)

In [259]:
tr_mean = trains['임대료'] .mean()
tr_mean = np.round(tr_mean)

tes_mean = tests['임대료'] .mean()
tes_mean = np.round(tes_mean)

tr_mean , tes_mean

(195508.0, 177344.0)

In [260]:
trains['임대료'] = trains['임대료'].fillna(tr_mean)
tests['임대료'] = tests['임대료'].fillna(tes_mean)

C:\Users\Playdata\AppData\Local\Temp\ipykernel_16200\3645986688.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trains['임대료'] = trains['임대료'].fillna(tr_mean)
C:\Users\Playdata\AppData\Local\Temp\ipykernel_16200\3645986688.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tests['임대료'] = tests['임대료'].fillna(tes_mean)

In [261]:
# 임대보증금, 임대료 null 값이 없는것 확인
trains.isnull().sum()

단지코드                            0
총세대수                            0
임대건물구분                          0
지역                              0
공급유형                            0
전용면적                            0
전용면적별세대수                        0
공가수                             0
자격유형                            0
임대보증금                           0
임대료                             0
도보 10분거리 내 지하철역 수(환승노선 수 반영)    0
도보 10분거리 내 버스정류장 수              0
단지내주차면수                         0
등록차량수                           0
dtype: int64

In [262]:
# 임대보증금, 임대료 null 값이 없는것 확인
tests.isnull().sum()

단지코드                             0
총세대수                             0
임대건물구분                           0
지역                               0
공급유형                             0
전용면적                             0
전용면적별세대수                         0
공가수                              0
자격유형                             2
임대보증금                            0
임대료                              0
도보 10분거리 내 지하철역 수(환승노선 수 반영)    34
도보 10분거리 내 버스정류장 수               0
단지내주차면수                          0
dtype: int64

## 2.3 버스,지하철 null값 0으로 대체

In [264]:
trains['도보 10분거리 내 지하철역 수(환승노선 수 반영)'] = trains['도보 10분거리 내 지하철역 수(환승노선 수 반영)'].fillna(0)
tests['도보 10분거리 내 지하철역 수(환승노선 수 반영)'] = tests['도보 10분거리 내 지하철역 수(환승노선 수 반영)'].fillna(0)

trains['도보 10분거리 내 버스정류장 수'] = trains['도보 10분거리 내 버스정류장 수'].fillna(0)
tests['도보 10분거리 내 버스정류장 수'] = tests['도보 10분거리 내 버스정류장 수'].fillna(0)

C:\Users\Playdata\AppData\Local\Temp\ipykernel_16200\4142022007.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trains['도보 10분거리 내 지하철역 수(환승노선 수 반영)'] = trains['도보 10분거리 내 지하철역 수(환승노선 수 반영)'].fillna(0)
C:\Users\Playdata\AppData\Local\Temp\ipykernel_16200\4142022007.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tests['도보 10분거리 내 지하철역 수(환승노선 수 반영)'] = tests['도보 10분거리 내 지하철역 수(환승노선 수 반영)'].fillna(0)
C:\Users\Playdata\AppData\Local\Temp\ipykernel_16200\4142022007.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trains['도보 10분거리 내 버스정류장 수'] = trains['도보 10분거리 내 버스정류장 수'].fillna(0)
C:\Users\Playdata\AppData\Local\Temp\ipykernel_16200\4142022007.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tests['도보 10분거리 내 버스정류장 수'] = tests['도보 10분거리 내 버스정류장 수'].fillna(0)

In [265]:
trains.isnull().sum()

단지코드                            0
총세대수                            0
임대건물구분                          0
지역                              0
공급유형                            0
전용면적                            0
전용면적별세대수                        0
공가수                             0
자격유형                            0
임대보증금                           0
임대료                             0
도보 10분거리 내 지하철역 수(환승노선 수 반영)    0
도보 10분거리 내 버스정류장 수              0
단지내주차면수                         0
등록차량수                           0
dtype: int64

In [266]:
tests.isnull().sum()

단지코드                            0
총세대수                            0
임대건물구분                          0
지역                              0
공급유형                            0
전용면적                            0
전용면적별세대수                        0
공가수                             0
자격유형                            2
임대보증금                           0
임대료                             0
도보 10분거리 내 지하철역 수(환승노선 수 반영)    0
도보 10분거리 내 버스정류장 수              0
단지내주차면수                         0
dtype: int64